/*--- body ---*/
body {
  background-color :  #bdb39c 
}

#mainRow{
  height: 1200px;
}
/*--- navigation bar ---*/
.navbar {
  background:#b49346;
  margin-bottom: 20px;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}


/*--- container ---*/

.container-fluid{
  padding-left: 20px;
  padding-right: 20px;
}

[class*="col-"], footer {
  background-color: #9cbd9f;
  border: 2px solid black;
  border-radius: 6px;
  line-height: 40px;
  text-align: center;
}


.stations, .stations svg {
  position: absolute;
}

.stations circle {
  fill: brown;
  stroke: black;
  stroke-width: 1.5px;
} 