/*--- body ---*/
body {
  background-color :  #bdb39c 
}

#mainRow{
  height: 1200px;
  padding :40px;
}

#googleMap{
  height: 1200px;
  width: 1800px;
}
/*--- navigation bar ---*/
.navbar {
  background:#b49346;
  margin-bottom: 20px;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}


/*--- container ---*/

.container-fluid{
  padding-left: 20px;
  padding-right: 20px;
}

[class*="col-"], footer {
  background-color: #9cbd9f;
  border: 2px solid black;
  border-radius: 6px;
  line-height: 40px;
  text-align: center;
}



.stations {
  fill: brown;
  stroke: black;
  stroke-width: 5px;
} 


.tooltip{
  position: absolute;			
  text-align: center;			
  width: 350px;					
  height: 100px;					
  padding: 2px;				
  font: 25px sans-serif;		
  background: lightsteelblue;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
}

 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 